{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fileDownload/1.4.2/jquery.fileDownload.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/poll_group.css' %}">

    <script defer src="{% static 'js/base.js' %}"></script>

    {% block scripts %}
    {% endblock %}

</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'polls' %}">Polls</a></li>
            <li><a href="{% url 'questions' %}">Questions</a></li>
            <li><a href="{% url 'students' %}">Students</a></li>
            <li><a href="/admin">Admin Panel</a></li>
        </ul>
    </nav>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
