{% extends 'bot_admin/base.html' %}

{% block title %}
Students
{% endblock %}

{% block content %}
    <h1 class="header">Students</h1>

    {% if students|length > 0 %}
        {% for student in students %}
            <div class="list-item">
                <div class="list-item-content">
                    <p>
                        <span class="field-name">
                            Group: </span> {{ student.group }};
                        <span>
                        
                        <span class="field-name" style="margin-left: 20px;">
                            Real name: </span>{{ student.real_name }}
                        </span>

                        <span class="field-name" style="margin-left: 20px;">
                            ID: </span>{{ student.id }}
                        </span>
                        <span>
                            <a href="{% url 'delete_student' student.id %}" class="more" onclick="return confirm('Are you sure?')">DELETE</a>
                        </span>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 class="empty-message">No students :(</h1>
    {% endif %}
{% endblock %}
